<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ATM</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div id="app">
        <div class="row">
            <!--<div class="col-12 text-center mt-5">
                <h1>XYZ BANK - <span class="spn">ATM</span></h1>
            </div>-->
        </div>
        <div class="container">
            <div class="col-12">
                <div class="card mt-5 screen">
                    <div class="card-body text-center mt-5 mb-5">
                        <div><!--login view-->
                            <marquee v-if="disp_marq === 1" bgcolor="#000" loop="-1" scrollamount="5" width="100%">---------------------- Welcome to <span class="spn">XYZ BANK ATM</span> ----------------------</marquee>
                            <h5  v-if="disp_accinp === 1" class="card-title mt-5">4 last numbers of your account:</h5>
                            <input v-if="disp_accinp === 1" v-model="accountn" @click="acc_input" type="number" maxlength="4" class="form-control mb-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <h5 v-if="disp_pininp === 1" class="card-title mt-5">PIN</h5>
                            <input v-if="disp_pininp === 1" v-model="pin" @click="pin_input" type="password" maxlength="4" class="form-control mb-2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div v-if="uservw === 1"><!--(user view)-->
                            <h5 class="account">Account Number: <span v-text="this.users[pos].accountn">n</span></h5>
                            <h5 class="account">Balance: <span v-text="this.users[pos].balance">0</span></h5>
                            <h5>Choose an option</h5>
                            <div class="row mt-5" v-if="options === 1">
                                <div class="col-6"><button type="button" class="btn btn-outline-primary" @click="depositvw">Deposit</button></div>
                                <div class="col-6"><button type="button" class="btn btn-outline-primary" @click="transfervw">Transfer</button></div>
                                <div class="col-6 mt-5"><button type="button" class="btn btn-outline-primary" @click="withdrawvw">Withdraw</button></div>
                                <div class="col-6 mt-5"></div>
                            </div>
                            <div v-if="depovw === 1"><!--deposit view-->
                                <h5 class="card-title mt-4">Enter an amount:</h5>
                                <input @click="dinp" v-model.number="depos" type="number" class="form-control mb-2">
                            </div>
                            <div v-if="tfvw === 1"><!--transfer view-->
                                <h5 class="card-title mt-3">Enter the destination account:</h5>
                                <input type="text" maxlength="4" class="form-control mb-2">
                                <h5 class="card-title mt-3">Enter an amount:</h5>
                                <input type="number" maxlength="4" class="form-control mb-2">
                            </div>
                            <div v-if="wdrvw === 1"><!--withdraw view-->
                                <h5 class="card-title mt-4">Enter an amount:</h5>
                                <input type="number" maxlength="4" class="form-control mb-2">
                            </div>
                        </div>
                        <div v-if="admvw === 1" class="mt-5"><!--admin view-->
                            <h1 class="tableTitle">ATM Cash Status</h1>
                            <table class="table table-hover">
                                <thead class="table-dark">
                                    <tr class="text-center">
                                        <th>Denomination</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody v-if="tcash.length" class="table-light">
                                    <tr v-for="(item, index) in tcash" :key="item.id" class="text-center">
                                        <td v-text="item.denom"></td>
                                        <td v-text="item.amount"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="text-center">Total cash in ATM:</td>
                                        <td colspan="2" class="text-center " v-text="total">0</td>
                                    </tr>
                                </tbody>
                                <tbody v-else=>
                                    <tr>
                                        <td colspan="2" class="text-center">Cash not found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mt-4">
                    <div class="card-body text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col"><button type="button" class="btn btn-secondary" @click="buttons(7)">7</button></div>
                                <div class="col"><button type="button" class="btn btn-secondary" @click="buttons(8)">8</button></div>
                                <div class="col"><button type="button" class="btn btn-secondary" @click="buttons(9)">9</button></div>
                                <div class="col"><button type="button" class="btn btn-danger" @click="cancel"><i class="fas fa-times"></i> CANCEL</button></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mt-4">
                                <div class="col"><button type="button" class="btn btn-secondary" @click="buttons(4)">4</button></div>
                                <div class="col"><button type="button" class="btn btn-secondary" @click="buttons(5)">5</button></div>
                                <div class="col"><button type="button" class="btn btn-secondary" @click="buttons(6)">6</button></div>
                                <div class="col"><button type="button" class="btn btn-warning" @click="clear"><i class="fas fa-angle-left"></i> CLEAR</button></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mt-4">
                                <div class="col"><button type="button" class="btn btn-secondary" @click="buttons(1)">1</button></div>
                                <div class="col"><button type="button" class="btn btn-secondary" @click="buttons(2)">2</button></div>
                                <div class="col"><button type="button" class="btn btn-secondary" @click="buttons(3)">3</button></div>
                                <div class="col"><button type="button" class="btn btn-success" @click="enter"><i class="far fa-check-circle"></i> ENTER</button></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mt-4">
                                <div class="col"><button type="button" class="btn btn-secondary text-secondary">a</button></div>
                                <div class="col"><button type="button" class="btn btn-secondary" @click="buttons(0)">0</button></div>
                                <div class="col"><button type="button" class="btn btn-secondary text-secondary">b</button></div>
                                <div class="col"><button type="button" class="btn btn-secondary text-secondary">c</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../backend/js/vue.js"></script>
<script src="../backend/js/main.js"></script>
</html>
